nav{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul li a{
    text-decoration: none;
    margin: 20px;
    color: white;
}

.special{
    background: radial-gradient(circle at 100% 100%, transparent 0, transparent 3px, transparent 3px) 0% 0%/8px 8px no-repeat,
            radial-gradient(circle at 0 100%, transparent 0, transparent 3px, transparent 3px) 100% 0%/8px 8px no-repeat,
            radial-gradient(circle at 100% 0, transparent 0, transparent 3px, transparent 3px) 0% 100%/8px 8px no-repeat,
            radial-gradient(circle at 0 0, transparent 0, transparent 3px, transparent 3px) 100% 100%/8px 8px no-repeat,
            linear-gradient(transparent, transparent) 50% 50%/calc(100% - 10px) calc(100% - 16px) no-repeat,
            linear-gradient(transparent, transparent) 50% 50%/calc(100% - 16px) calc(100% - 10px) no-repeat,
            radial-gradient(at 100% 100%, #f48200 0%, transparent 70%),
            radial-gradient(at 100% 0%, #7e00ff 0%, rgba(0,0,0,0) 70%),
            radial-gradient(at 0% 0%, #ec00ff 0%, rgba(0,0,0,0) 70%),
            #ff0000;
border-radius: 8px;
padding: 10px;
box-sizing: border-box;
}
